.content{
    width: 100%;
    height: 600px;
    color: #fff;
    background-image: url("../../../assets/College-students-studying.jpeg");
    background-size: cover;
    padding-top: 70px;
    padding-left: 30px;
    font-weight: lighter;
}
.loginn{
    background: rgba(8, 235, 57, 0.179);
    width: 30%;
    height: 80%;
    /* padding-left: 100px; */
    margin-left: -25px;
    margin-right: -10px;
    padding-left: 4%;
    margin-top: -1%;
    /* margin-top: 220px; */
    padding-top: 100px;
    /* //background-color: transparent; */
}
input[type="submit" i] {
    box-sizing: border-box;
    margin-top: -14px;
    margin-left: 35%;
    
  
}
/* .login{
    padding-left: 40px;
} */
.i_learn{
    color: #FFFF00 ;
    padding-left: 15%;
}